@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InventoryManagementSystem.Models.Entities.Product

<h1>
    Edit Product
</h1>

@if(Model is null)
{
    <p>No Products Found</p>
}
else
{   
<form method="post">
    <div class=" mt-3">
        <label class="form-label">Product</label>
        <input type="text" class="form-control" asp-for="ProductName" />
    </div>

    <div class=" mt-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>

    <div class="mt-3">
        <label class="form-label">Location</label>
        <input list="locations" class="form-control" asp-for="Location" />
        <datalist id="locations">
            <option value="Warehouse A"></option>
            <option value="Warehouse B"></option>
            <option value="Warehouse C"></option>
        </datalist>
    </div>

    <div class=" mt-3">
        <label class="form-label">Quantity</label>
        <input type="text" class="form-control" asp-for="Quantity" />
    </div>

    <div class=" mt-3">
        <label class="form-label">Price (per qty)</label>
        <input type="text" class="form-control" asp-for="Price" />
    </div>

    <div class=" mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Products">Delete</button>
    </div>

</form>
}